<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="home"></ion-back-button>
    </ion-buttons>
    <ion-title>AK Auto Center</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding class="ofic1">
  <img src="https://statig1.akamaized.net/bancodeimagens/3s/ej/2j/3sej2jb4gt5b72kag3sepd38e.jpg">
  <ion-text>
    <h2>Rua Farnese Maciel - Patos de Minas / MG</h2>
  </ion-text>


  <ion-item lines="none">
    <ion-label>
      Rankeamento:
    </ion-label>
    <ion-icon name="md-build" size="small" slot="start"></ion-icon>
  </ion-item>

  <ion-item lines="none">
    <ion-label>
      Tempo de Entrega: (9,4/10)
    </ion-label>
    <ion-icon name="md-calendar" size="small" slot="start"></ion-icon>
  </ion-item>

  <ion-item lines="none">
    <ion-label>
      Qualidade: (9,3/10)
    </ion-label>
    <ion-icon name="ios-car" size="small" slot="start"></ion-icon>
  </ion-item>

  <ion-item lines="none">
    <ion-label>
      Limpeza: (9,3/10)
    </ion-label>
    <ion-icon name="ios-home" size="small" slot="start"></ion-icon>
  </ion-item>

  <ion-item lines="none">
    <ion-label>
      Avaliação Final: (9,3/10)
    </ion-label>
    <ion-icon name="md-thumbs-up" size="small" slot="start"></ion-icon>
  </ion-item>

</ion-content>