<ion-header>
  <ion-toolbar>
    <ion-title>AK Auto Center</ion-title>
  </ion-toolbar>
</ion-header>
<body>
  <ion-content class="ofic1">
    <ion-card>

        <img src="img/advance-card-map-madison.png">
        <ion-fab right top>
          <button ion-fab>
            <ion-icon name="pin"></ion-icon>
          </button>
        </ion-fab>
      
        <ion-item>
          <ion-icon name="ios-construct" item-start large></ion-icon>
          <h2>AK Auto Center</h2>
          <p>Rua Cidade de Bolama - 792 - Belo Horizonte / MG </p>
          <p><ion-icon name="md-build">Rankeamento:</ion-icon></p>
          <p><ion-icon name="md-calendar">Tempo de Entrega: (9,4/10)</ion-icon></p>
          <p><ion-icon name="ios-car">Qualidade: (9,3/10)</ion-icon></p>
          <p><ion-icon name="ios-home">Limpeza: (9,3/10)</ion-icon></p>
          <p><ion-icon name="md-thumbs-up">Avaliação Final: (9,3/10)</ion-icon></p>
        </ion-item>
        <ion-item>
          <span item-start>4min</span>
          <span item-start>(353m)</span>
          <button ion-button icon-start clear item-end>
            <ion-icon name="navigate"></ion-icon>
            Start
          </button>
        </ion-item>
      
      </ion-card>
  </ion-content>
</body>