<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="home"></ion-back-button>
    </ion-buttons>
    <ion-title>AK Auto Center</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding class="ofic1">
  <a href="https://www.google.com/maps/place/R.+Farnese+Maciel+-+Centro,+Patos+de+Minas+-+MG/@-18.5928904,-46.5194205,17z/data=!3m1!4b1!4m5!3m4!1s0x94ae8accae4218f5:0x48302bf626b99b49!8m2!3d-18.5928955!4d-46.5172265"  target="_blank"><img src="https://i.ibb.co/bd6b1ZL/mapa2.png"></a>
  <ion-text>
    <h2>Rua Farnese Maciel - Patos de Minas / MG</h2>
  </ion-text>


  <ion-item lines="none">
    <ion-label>
      Rankeamento:
    </ion-label>
    <ion-icon name="md-build" size="small" slot="start"></ion-icon>
  </ion-item>

  <ion-item lines="none">
    <ion-label>
      Tempo de Entrega: (9,4/10)
    </ion-label>
    <ion-icon name="md-calendar" size="small" slot="start"></ion-icon>
  </ion-item>

  <ion-item lines="none">
    <ion-label>
      Qualidade: (9,3/10)
    </ion-label>
    <ion-icon name="ios-car" size="small" slot="start"></ion-icon>
  </ion-item>

  <ion-item lines="none">
    <ion-label>
      Limpeza: (9,3/10)
    </ion-label>
    <ion-icon name="ios-home" size="small" slot="start"></ion-icon>
  </ion-item>

  <ion-item lines="none">
    <ion-label>
      Avaliação Final: (9,3/10)
    </ion-label>
    <ion-icon name="md-thumbs-up" size="small" slot="start"></ion-icon>
  </ion-item>

</ion-content>
