<ion-header>
  <ion-toolbar>
    <ion-title>
      OficinAPP - Contato
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div> 
    <form>
      <ion-list>
        <ion-item>
          <ion-input type="text" placeholder="Nome"></ion-input> 
        </ion-item>
        <ion-item>
          <ion-input type="number" placeholder="Número"></ion-input>
        </ion-item>
        <ion-textarea placeholder="Sugestões, adicionar Oficinas, recomendações e etc..."></ion-textarea>
        <button ion-button block>Enviar</button>
      </ion-list>
    </form>
  </div>
</ion-content>
<ion-footer>
  <h3>Para patrocínios ou parcerias, nos envie um e-mail oficinapp@gmail.com</h3>
</ion-footer>