<ion-header class="container">
  <ion-toolbar>
    <ion-title>
      OficinAPP - Contato
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <form (ngSubmit)="enviarMensagem()">
    <ion-item>
      <ion-label position="floating">Digite seu nome</ion-label>
      <ion-input [(ngModel)]="formValue.nome" name="name" type="text"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label position="floating">Digite seu email</ion-label>
      <ion-input [(ngModel)]="formValue.celular"  name="celular" type="text"></ion-input>
    </ion-item>
    <ion-item>
      <ion-select [(ngModel)]="formValue.opcao" name= "opcao" placeholder="Opções">
        <ion-select-option value="sugestao">Sugestão</ion-select-option>
        <ion-select-option value="mecanico">Adicionar Mecânico</ion-select-option>
        <ion-select-option value="reclamacao">Reclamação</ion-select-option>
      </ion-select>
    </ion-item>
    <ion-item>
      <ion-label type="text-box" position="floating">Digite sua mensagem</ion-label>
      <ion-input [(ngModel)]="formValue.mensagem" name="mensagem" type="text"></ion-input>
    </ion-item>
    <ion-button (click)="presentAlert()" type="submit">Enviar</ion-button>
  </form>
</ion-content>

<ion-footer>
  <h3>Para patrocínios ou parcerias, nos envie um e-mail oficinapp@gmail.com</h3>
</ion-footer>