*{
    font-family: "Courier New", Courier, monospace;
  }
h3{
    font-size: 15px;
    text-align: center;
}
select{
    background-color: transparent;
}
ion-button[type="submit"]{
    color: white ;
    --background: darkorange;
    border-radius: 5px;
    --padding-left: 10px;
    size: large;
    text-align: center; 
    margin-right: 10px;
}   
button:active{
    background-color: darkorange;
}

ion-list{
    margin-left: 110px;  
    align-content: center;
    width: 50%;
}
ion-textarea{
    height: 100px;
}
ion-toolbar{
    --background: darkorange;
}
ion-title{
    color: white;
    text-align: center;
}
form {
	width: 100%;
	min-height: 100%;
	padding: 50px 20px;
	display: flex;
	flex-direction: column;
    align-items: center;
}
