<ion-header>
    <ion-toolbar color="primary">
      <ion-buttons slot="start">
        <ion-back-button defaultHref="tab1"></ion-back-button>
      </ion-buttons>
    <ion-icon name="ios-construct" item-start large></ion-icon>
    <ion-title>Oficina adilSOM</ion-title>
  </ion-toolbar>
</ion-header>
<body>
  <ion-content class="ofic2">
    <ion-card>
        <img src="https://thumbs.dreamstime.com/z/concepto-del-servicio-de-gps-del-mapa-de-la-ciudad-de-la-perspectiva-dise%C3%B1o-de-la-plantilla-de-la-ruta-del-mapa-de-la-ciudad-d-83042206.jpg">
        <h2>- Rua Major Gote - 291 - Patos de Minas / MG</h2>
        <ion-fab right top>
          <button ion-fab>
            <ion-icon name="pin"></ion-icon>
          </button>
        </ion-fab>
      
        <ion-item>
          <div class="rank">
            <ion-icon name="md-build"></ion-icon>
            <p>Rankeamento:</p>
            <ion-icon name="md-calendar"></ion-icon>
            <p>Tempo de Entrega: (10/10)</p>
            <ion-icon name="ios-car"></ion-icon>
            <p>Qualidade: (9,2/10)</p>
            <ion-icon name="ios-home"></ion-icon>
            <p>Limpeza: (9,3/10)</p>
            <ion-icon name="md-thumbs-up"></ion-icon>
            <p>Avaliação Final: (9,5/10)</p>
          </div>
        </ion-item>
      </ion-card>
  </ion-content>
</body>
